/* Home.css */

.home{
  text-align: center;
  color: var(--brown);
}

.intro{
  margin:10% 0;
}

.intro_title{
  font-size: 4vh;
}

.intro_title_impact{
  font-size: 5vh;
}

.intro_sub_title{
  margin-top: 1.5vh;
  font-size:2vh;
}

