/* Header.css */
header{
  background-color: var(--light-green);
  color: var(--brown);
  height:10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}

header a{
  color: var(--brown);
  display: flex;
  align-items: center;
  font-size:5vh;
}

header i{
  margin-right:10px;
  font-size: 3vh;
}